.card{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 65vh;
    min-width: 65vh;
    height: 35vh;
    background-color: #5DF265;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 0 10px 10px 10px;
    box-shadow: 8px 8px #14BDEB;
}

.containerImage{
    border: 7px solid #000000;
    border-radius: 7px;
    margin-right: 10px;
}

img{
    width: 180px;
    height: 180px;
}

.cardTitle{
    color: white;
}