.navbar{
    width: 100%;
    min-width: 150vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.containerLogo{
    width: 70vh;
    height: 25vh;
}

.logo{
    width: 100%;
    height: 100%;
}

.buscador{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

input{
    height: 55px;
}
